<footer class="black-section" id="footer">
  <div class="container-fluid container-fluid-learnmore">

    <a href="https://www.linkedin.com/in/aayush-verma-151712154">
      <i class="fab fa-linkedin fa-3x"></i>
    </a><br /><br />
    <p>Tel: +91 8476059827<br>
      Email: aayushvermaakv@gmail.com
    <p>
    <p>&copy; 2022 C19Stats. All rights reserved.</p>

    <p>Designed & developed by AAYUSH VERMA pursuing bachelor's of technology degree in computer science and Engineering from Gurukul Kangri University,Haridwar</p>

  </div>
</footer>


</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>

</html>
